{% extends "AutoformationBlogBundle::layout.html.twig" %}
{% block title %}
    Ajouter un article - {{ parent() }}
{% endblock %}
{% block autoformation_blog_body %}
    <h2>Ajouter un article</h2>
    {% include "AutoformationBlogBundle:Blog:formulaire.html.twig" %}
{% endblock %}