{% extends "AutoformationBlogBundle::layout.html.twig" %}
{% block title %}
    Accueil - {{ parent() }}
{% endblock %}
{% block autoformation_blog_body %}
    <h2>Liste des articles</h2>
    <ul>
        {% for article in articles %}
            {# On inclut la vue à chaque itération dans la boucle #}
            {% include "AutoformationBlogBundle:Blog:article.html.twig" with {'accueil': true} %}
            <hr />
        {% else %}
            <p>Pas (encore !) d'articles</p>
        {% endfor %}
    </ul>
    <div class="pagination">
        <ul>
            {% for p in range(1, nombrePage) %}
            <li {% if p == page %} class="active" {% endif %}>
            <a href="{{ path('autoformation_blog_accueil', {'page':p}) }}">
                {{ p }}
            </a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}